extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
          #logo-wrapper.text-center
            #logo
                img(src='img/logo.svg', alt='petanque logo', width='100')
                h1 Petanque
                p Lorem ipsum Eiusmod elit tempor occaecat dolore ad adipisicing do occaecat irure cillum consectetur aliquip non nisi nostrud in consectetur qui laborum consectetur cillum do eu minim id incididunt proident sed sed dolore.
    include ./partials/screenshots.jade

